@charset "utf-8";

* {
  box-sizing: border-box;
  appearance: none;
  vertical-align: baseline;
  resize: none;
  outline: 0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  // 뷰표트 변환시 폰트크기 자동확대 방지
  // -webkit-overflow-scrolling: touch;
  -webkit-touch-callout: none;
  word-break: var(--word-break) !important;
}

html,
body,
input,
textarea,
button {
  // font-family: $font-family-base;
}

html,
body {
  width: 100%;
  height: 100%;
  color: var(--color-text);
  font-size: 16px;
  // background-color: var(--color-bg);
  // background-color: transparent;
  -webkit-overflow-scrolling: touch;
  // word-break: break-all;

  user-select: none;
  -webkit-text-size-adjust: none;
  overscroll-behavior-x: none;
}

::placeholder {
  color: #b4b4b4;
  font-weight: 400;
}

strong {
  font-weight: 600;
}

input,
textarea {
  border: 0;
  touch-action: manipulation;

  ::placeholder {
    // color: $color-text-placeholder;
  }
}

input {
  &::-ms-clear {
    display: none;
  }
}

// input 자동완성 background color default 제거
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #000;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}
input:autofill,
input:autofill:hover,
input:autofill:focus,
input:autofill:active {
  -webkit-text-fill-color: #000;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='search'] {
  &::-webkit-search-cancel-button,
  &::-webkit-search-decoration {
    appearance: none;
  }
}

button {
  padding: 0;
  cursor: pointer;
  color: inherit;
}

a {
  color: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
