@charset "utf-8";
// 버튼 클릭영역 보정
button {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: unit(40);
    height: unit(40);
    border-radius: unit(16);
  }
}

// swiper custom
.swiper-container {
  width: 100%;
}

.pre-line {
  white-space: pre-line;
}

// Button System
%btn-base {
  @include inline-flexbox;
  padding: unit(13) unit(20);
  border-radius: $border-radius-medium;
  transition: background-color 200ms ease-in-out;

  .svg-icon {
    font-size: unit(24);

    &:first-child {
      margin-right: unit(8);
    }
  }

  &:disabled {
    cursor: not-allowed;
    background-color: $color-gray-200;
    border: 0;
    color: $color-gray-500;
  }
}

// Button Variants
.btn-filled {
  @extend %btn-base;
  color: $color-gray-254;
  background-color: $color-primary;
}

.btn-outlined {
  @extend %btn-base;
  color: $color-primary;
  background-color: $color-white;
  border: 1px solid $color-primary;
}

.btn-outlined-base {
  @extend %btn-base;
  background-color: $color-white;
  border: 1px solid $color-gray-200;
  color: $color-gray-16;
}

// Button Size
.btn-small {
  @include text-variant('button3');
  border-radius: $border-radius-small;
}

.btn-medium {
  @include text-variant('button1');
  min-width: unit(162);
}

.btn-large {
  // @include text-variant('button1');
  display: flex;
  padding: unit(14.5) unit(20);
  width: 100%;
  font-size: unit(16);
  font-weight: 600;

  // .svg-icon {
  //   font-size: unit(16);
  // }
}

// // text CTA
// .btn-text {
//   @extend %btn-base;
//   @include text-variant('button2', $color-primary);

//   &.large {
//     padding: unit(8) unit(12);
//     width: 100%;
//   }
// }

// Icon Button
.icon-btn {
  @include inline-flexbox;
  position: relative;
  font-size: unit(40);

  &.primary {
    color: $color-primary;
  }
}

// divider
.divider-solid {
  height: unit(8);
  border: 0;
  background-color: $color-divider-solid;
  visibility: visible;
}

.divider-line {
  margin-top: unit(32);
  margin-bottom: 0;
  height: 1px;
  border: 0;
  background-color: $color-divider-line;
  visibility: visible;
}

hr {
  visibility: hidden;
  margin: 0;
}
