@charset "utf-8";
// 버튼 클릭영역 보정
button {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 120%;
    height: 120%;
    max-width: unit(80);
    max-height: unit(80);
    min-width: unit(40);
    min-height: unit(40);
    border-radius: unit(16);
  }
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.bottom-button {
  display: flex;
  align-items: center;
  justify-content: center;
  // background-color: $color-custom-tint;
  height: unit(60);
  width: 100%;
  text-align: center;
  // box-shadow: $shadow-button;
  border-radius: unit(8);
  // @include text-variant(button2, $color-white);
  // color: $color-white;
  transition:
    color 0.1s ease-in-out,
    background 0.1s ease-in-out;

  &:active {
    background-color: #9292ff;
    color: #fefefe;
  }

  &:disabled {
    // background-color: $color-divider-line;
  }
}

.bottom-text-button {
  display: block;
  margin: 0 auto;
  padding-top: unit(16);
  text-align: center;
  // @include text-variant(button2, $color-custom-tint);

  &:active {
    color: #9292ff;
  }
}

.check-box {
  position: relative;

  input[type='checkbox'] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

  input[type='checkbox'] + label {
    display: flex;
    align-items: center;
    gap: unit(12);
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .svg-icon {
      display: block;
      position: absolute;
      width: unit(32);
      height: unit(32);
      // color: $color-divider-line;
    }
  }

  input[type='checkbox'] + label:active:before,
  input[type='checkbox']:checked + label:active:before {
    opacity: 0.7;
  }

  input[type='checkbox'] + label:before {
    content: '';
    display: block;
    width: unit(32);
    height: unit(32);
    border-radius: 50%;
    // border: unit(1) solid $color-divider-line;
  }

  input[type='checkbox']:checked + label:before {
    // background-color: $color-custom-tint;
    // border-color: $color-custom-tint;
  }

  input[type='checkbox']:checked + label .svg-icon {
    // color: $color-white;
  }
}

.swiper-container {
  width: 100%;
}

.a11y-hidden {
  position: absolute;
  margin: -1px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}
