@charset "utf-8";

#app {
  overflow: visible !important;
}

html.scroll-smooth {
  scroll-behavior: smooth;
}

.safe-area-inset-top {
  padding-top: var(--android-safe-area-inset-top); // Android
  padding-top: constant(safe-area-inset-top); // iOS 11
  padding-top: env(safe-area-inset-top); // iOS 11.2+
}

.safe-area-inset-bottom {
  padding-bottom: var(--android-safe-area-inset-bottom); // Android
  padding-bottom: constant(safe-area-inset-bottom); // iOS 11
  padding-bottom: env(safe-area-inset-bottom); // iOS 11.2+
}

:root {
  --page-width: 100vw;
}

// Clear layout on print mode
@media print {
  body {
    overflow: visible !important;
  }
}

@media only screen and (max-width: 320px) {
  html,
  body {
    font-size: 14px;
  }
}

@media only screen and (min-width: 320px) {
  html,
  body {
    font-size: 14px;
  }
}

@media only screen and (min-width: 375px) {
  html,
  body {
    font-size: 16px;
  }
}

@media only screen and (min-width: 425px) {
  html,
  body {
    font-size: 18px;
  }
}

@media only screen and (min-width: 568px) {
  html,
  body {
    font-size: 20px;
  }

  :root {
    --page-width: 568px;
  }
}
